/* extension message style */
div#extension-message-body {
    width: 320px;
    display: none;
    margin-bottom: 3px;
}

table#message-table {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 3px;
}

span#extension-limitation-web-store-text,
span#extension-limitation-chrome-settings-text,
span#extension-limitation-pdf-fileview-text{
    color: #FF0000;
    display: none;
}

img#exclamation-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}