/* Message Pane Style */
div.pane#extension-message-body {
    padding: 0;
}

table#message-table {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 3px;
}

span#extension-limitation-web-store-text,
span#extension-limitation-chrome-settings-text,
span#extension-limitation-pdf-fileview-text,
span#extension-limitation-offline-file-search-text {
    color: #FF0000;
    display: none;
}

img#exclamation-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}
