/* Replace Pane Body */
div#replace-body {
    display: none;
    margin-top: 3px;
    width: 340px;
}

div#replace-body-container {
    max-width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: #eeeeee;
    padding: 2px;
}

div#replace-field-cell,
div#replace-controls-cell {
    display: inline-flex;
    align-items: center;
}

div#replace-field-cell {
    width: 100%;
    padding-right: 5px;
}

div#replace-controls-cell {
    padding-left: 5px;
}

input.field#replace-field {
    flex: auto;
}

/* Replace Control Buttons */
button.replace-button {
    background: transparent no-repeat center;
    border-width: 0;
    border-radius: 2px;
    vertical-align: middle;
    white-space: nowrap;
}

button.replace-button:focus {
    outline: none;
}

button.replace-button:hover {
    background-color: #ffffff;
}

button.replace-button:active {
    border-radius: 30px;
    background-color: #ffffff;
}

button.replace-button:disabled {
    background-color: transparent;
    opacity: 0.2;
}