/* Search Pane Style */
div#popup-body {
    width: 100%;
}

div#popup-body-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#search-field-container,
div#search-controls-container {
    display: inline-flex;
}

div#search-field-container {
    width: 100%;
}

div#search-controls-container {
    border-left: 1px solid #e0e0e0;
    margin-left: 5px;
}

div#search-info {
    min-width: 60px;
    text-align: right;
    user-select: none;
    cursor: default;
}

span#index-text {
    color: #CCCCCC;
    white-space: nowrap;
    text-align: right;
}

img.extension-error-icon {
    width: 10px;
    height: 10px;
    display: none;
}

button.controls-button#search-prev-button {
    background-image: url(/popup/img/icon/chevron-up.svg);
    background-size: 12px 12px;
}

button.controls-button#search-next-button {
    background-image: url(/popup/img/icon/chevron-down.svg);
    background-size: 12px 12px;
}

button.controls-button#search-toggle-options-button {
    background-image: url(/popup/img/icon/wrench.svg);
    background-size: 12px 12px;
}

button.controls-button#saved-expressions-toggle-button {
    background-image: url(/popup/img/icon/bookmark.svg);
    background-size: 12px 12px;
}

button.controls-button#copy-text-to-clipboard-button {
    background-image: url(/popup/img/icon/copy-to-clipboard-line.svg);
    background-size: 12px 12px;
}

button.controls-button#close-button {
    background-image: url(/popup/img/icon/cross.svg);
    background-size: 10px 10px;
}

button.controls-button#find-replace-button {
    background-image: url(/popup/img/icon/document-remove.svg);
    background-size: 12px 12px;
}
