body {
    margin: 3px 0 3px 6px;
}

button {
    border-radius: 2px;
    width: 25px;
    height: 25px;
    border-width: 0px;
    background-color: transparent;
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #eaeaea;
}

button:active {
    border-radius: 30px;
    background-color: #dadada;
}

.searchPrevBtn {
    background-image: url(/resources/chevron-up.svg);
    background-size: 12px 12px;
}

.searchNextBtn {
    background-image: url(/resources/chevron-down.svg);
    background-size: 12px 12px;
}

.closeBtn {
    background-image: url(/resources/cross.svg);
    background-size: 10px 10px;
}

.searchField {
    background-color: transparent;
    border: 0px solid;
}

.searchField textarea:focus, input:focus{
    outline: none;
}

.divideLine {
    background-position: 50%;
    background-image: url(/resources/line.png);
    background-repeat: no-repeat;
}