/* Popup Style */
body {
    margin: 3px 3px 0 3px;
    width: 300px;
}

.def-font {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: smaller;
}

div#popup-body {
    width: 300px;
}

table#popup-body-table {
    width: 100%;
    table-layout: fixed;
}

/* Search Field Style */
input.field {
    background-color: transparent;
    border: 0 solid;
}

input.field textarea:focus, input:focus {
    outline: none;
}

input.field#search-field {
    width: 100%;
}

/* Index Text Style */
td#index-text-cell {
    width: 20%;
}

span#index-text {
    color: #CCCCCC;
    white-space: nowrap;
    user-select: none;
    cursor: default;
    float: right;
}

/* Dividing Line Style */
td#divide-line-cell {
    vertical-align: middle;
    width: 2px;
    height: 100%;
    padding: 0 5px;
}

img#dividing-line-img {
    vertical-align: middle;
    background: transparent no-repeat center;
    user-select: none;
}

/* Button Style */
td.button-cell {
    width: 25px;
    height: 25px;
}

button.controls-button {
    background: transparent no-repeat center;
    border-width: 0;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    padding: 0;
    vertical-align: middle;
}

button.controls-button:focus {
    outline: none;
}

button.controls-button:hover {
    background-color: #eaeaea;
}

button.controls-button:active {
    border-radius: 30px;
    background-color: #dadada;
}

button.controls-button#search-prev-button {
    background-image: url(/resources/chevron-up.svg);
    background-size: 12px 12px;
}

button.controls-button#search-next-button {
    background-image: url(/resources/chevron-down.svg);
    background-size: 12px 12px;
}

button.controls-button#close-button {
    background-image: url(/resources/cross.svg);
    background-size: 10px 10px;
}

button.controls-button:disabled {
    background-color: transparent;
    opacity: 0.2;
}