/* Popup Style */
body {
    margin: 3px 3px 3px 3px;
}

div#popup-body {
    width: 300px;
}

table#popup-body-table {
    width: 100%;
    table-layout: fixed;
}


/* Search Field Style */
input.field {
    background-color: transparent;
    border: 0 solid;
}

input.field textarea:focus, input:focus {
    outline: none;
}

input.field#search-field {
    width: 100%;
}

/* Index Text Style */
td#index-text-cell {
    width: 20%;
}

span#index-text {
    color: #CCCCCC;
    white-space: nowrap;
    user-select: none;
    cursor: default;
    float: right;
}

/* Dividing Line Style */
td#divide-line-cell {
    vertical-align: middle;
    width: 2px;
    height: 100%;
    padding: 0 5px;
}

img#dividing-line-img {
    vertical-align: middle;
    background: transparent no-repeat center;
    user-select: none;
}

/* Button Style */
td.button-cell {
    width: 25px;
    height: 25px;
}

button.controls-button {
    background: transparent no-repeat center;
    border-width: 0;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    padding: 0;
    vertical-align: middle;
}

button.controls-button:focus {
    outline: none;
}

button.controls-button:hover {
    background-color: #eaeaea;
}

button.controls-button:active {
    border-radius: 30px;
    background-color: #dadada;
}

button.controls-button#search-prev-button {
    background-image: url(/resources/chevron-up.svg);
    background-size: 12px 12px;
}

button.controls-button#search-next-button {
    background-image: url(/resources/chevron-down.svg);
    background-size: 12px 12px;
}

button.controls-button#close-button {
    background-image: url(/resources/cross.svg);
    background-size: 10px 10px;
}

button.controls-button:disabled {
    background-color: transparent;
    opacity: 0.2;
}

div#regex-options {
    display: none;
}

label.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

label.switch input {
    display:none;
}

div.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

div.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Slider CSS */
.max-results-slider {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 6px;
    border-radius: 5px;
    background: #2196F3;
    outline: none;
    padding: 0;
    margin: 5px 5px 10px 5px;
}

.max-results-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #466178;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.max-results-slider::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.max-results-slider:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.max-results-slider-value {
    display: inline-block;
    position: relative;
    width: 20px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    border-radius: 3px;
    background: #2196F3;
    padding: 5px 10px;
    margin-left: 8px;
}

.max-results-slider-value:after {
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #2196F3;
    border-bottom: 5px solid transparent;
    content: '';
}

/* Options CSS */
span.options-text, span.options-group-header {
    vertical-align: middle;
    font-family: "Arial", Arial, sans-serif;
    display: block;
}

table#regex-options-table {
    width: 100%;
    padding-bottom: 5px;
}

td.options-table-toggle-cell {
    width: 32px;
    height: 17px;
    padding: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0 0 0;
    padding: 0;
}

div#regex-options {
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 3px;
    display: none;
}

/* extension message style */
div#extension-message-body {
   display: none;
}

table#message-table {
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 3px;
}

span#extension-limitation-web-store-text,
span#extension-limitation-chrome-settings-text {
    color: #FF0000;
    display: none;
}

img#exclamation-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}

img#invalid-regex-icon {
    width: 10px;
    height: 10px;
    float: right;
    display: none;
}